<nav class="navbar container mt-5">
    <div class="container-fluid">
        <a class="navbar-brand fs-1">
            <img width="70" class="opacity-75" src="https://th.bing.com/th/id/OIP.STtXiwdIzbUF3iMOMcEajgHaHw?pid=ImgDet&rs=1" alt=""
            />
        </a>
        <a href="/">Show Gallery</a>
        <div class="d-flex" role="search">
            <a class="opacity-50 fs-1 text-decoration-none" href="/add">➕</a>
        </div>
    </div>
</nav>